.custom-toast {
    background-color: #b82217; /* Change background color */
    color: #ffffff; /* Change text color */
  }
  
  .alert-primary {
    background-color: #b82217; /* Change background color */
    color: #ffffff; /* Change text color */
  }